<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Login</title>
	<link rel="stylesheet" href="login.css" type='text/css' />
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	
</head>
<body>
	
	<div class="container">
		<div class="header">
			<h2>Login</h2>
		</div>
		<form class="form" id="form" action="success.html" method="post">
			<div class="form-control">
				<label>Email</label>
				<input type="email" placeholder="user@gmail.com" id="email" >
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>

			<div class="form-control">
				<label>Password</label>
				<input type="password" placeholder="Password" id="password">
				<i class="fas fa-check-circle"></i>
				<i class="fas fa-exclamation-circle"></i>
				<small>Error message</small>
			</div>
			<div class="role">
				<label for="role">Role</label>
					<select id="role">
  						<option value="user">User</option>
  						<option value="admin">Admin</option>
					</select>
			</div>
			<button type="Submit" id="myBtn">Submit</button>
		</form>
	</div>
	<!-- Footer -->
	<footer class="footer">
  <div class="containe">
    <div class="content">
      <p>&copy; 2020 - Meeting Concierge </p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="login.js"></script>
</body>
</html>